<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_round"
        android:label="터치페이"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project2"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".JSActivity"
            android:exported="false" />
        <activity
            android:name="._4_T_sGHActivity"
            android:exported="false" />
        <activity
            android:name="._4_T_sGPActivity"
            android:exported="false" />
        <activity
            android:name="._4_T_sSHActivity"
            android:exported="false" />
        <activity
            android:name="._4_T_sUIActivity"
            android:exported="false" />
        <activity
            android:name="._4_T_sGGActivity"
            android:exported="false" />
        <activity
            android:name="._4_T_sEVActivity"
            android:exported="false" />
        <activity
            android:name="._4_T_sUJActivity"
            android:exported="false" />
        <activity
            android:name="._4_T_sSRActivity"
            android:exported="false" />
        <activity
            android:name="._4_T_sSIActivity"
            android:exported="false" />
        <activity
            android:name="._4_T_sGCActivity"
            android:exported="false" />
        <activity
            android:name="._4_T_sGUActivity"
            android:exported="false" />
        <activity
            android:name="._4_T_sSBActivity"
            android:exported="false" />
        <activity
            android:name="._4_T_sI2Activity"
            android:exported="false" />
        <activity
            android:name="._4_T_sI1Activity"
            android:exported="false" />
        <activity
            android:name="._4_T_s9Activity"
            android:exported="false" />
        <activity
            android:name="._4_T_s8Activity"
            android:exported="false" />
        <activity
            android:name="._4_T_s7Activity"
            android:exported="false" />
        <activity
            android:name="._4_T_s6Activity"
            android:exported="false" />
        <activity
            android:name="._4_T_s5Activity"
            android:exported="false" />
        <activity
            android:name="._4_T_s4Activity"
            android:exported="false" />
        <activity
            android:name="._4_T_s3Activity"
            android:exported="false" />
        <activity
            android:name="._4_T_s2Activity"
            android:exported="false" />
        <activity
            android:name="._4_T_s1Activity"
            android:exported="false" />
        <activity
            android:name="._4_T_StationSelectActivity"
            android:exported="false" />
        <activity
            android:name="._3_D_placeSelectActivity"
            android:exported="false" />
        <activity
            android:name="._2_DeliveryTaxiActivity"
            android:exported="false" />
        <activity
            android:name=".temp"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>